@font-face {
    font-family: 'Proxima Nova';
    src: url("../../public/fonts/ProximaNova-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../../public/fonts/Proxima-Nova-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../../public/fonts/Proxima-Nova-Thin.otf") format('opentype');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../../public/fonts/Proxima-Nova-Light.otf") format('opentype');
    font-weight: lighter;
    font-style: normal;
}